<%- include('header') -%>
<body>
<%- include('nav') -%>

<div class="container">
    <div class="row p-5 pt-2">
        <div class="col-4 column">
            <div class="row">
                <h2>Parts installed</h2>
            </div>
            <div class="row">
                <ul class="list-group car-parts-list ">
                    <% var month = car.date.getUTCMonth() + 1;
                    var year = car.date.getUTCFullYear();
                    var day = car.date.getUTCDate(); %>
                    <% for (key in parts) { var part = parts[key]; %>
                    <% var name = part.name;
                        var date = part.date %>
                    <li class="list-group-item list-group-item-action d-flex flex-row justify-content-evenly hovertext" data-hover="Part name: <%=part.name%>   Replace date: <%= moment(part.date).format('YYYY-MM-DD') %>">
                        <span class="me-auto"><%= part.name %> <%= year %>.<%= month %>.<%= day %></span>
                        <a class="btn btn-outline-primary " href="/part-window/<%= car._id %>/edit/<%= part._id %>/">edit</a>
                        <a class="btn btn-outline-danger" href="/part-delete/<%= car._id %>/<%= part._id %>/">delete</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <h2>Car data:</h2>
            <ul class="list-group car-data-list d-flex justify-content-evenly">
            <li class="list-group-item d-inline-flex">
                <div class="me-auto">Manufacturer:</div>
                <div><%= car.manufacturer%></div>
            </li>
                <li class="list-group-item d-inline-flex">
                    <div class="me-auto">Type:</div>
                    <div><%= car.type%></div>
                </li>
                <li class="list-group-item d-inline-flex">
                    <div class="me-auto">Construction date:</div>
                    <div><%= moment(car.date).format('YYYY-MM-DD') %></div>
                </li>
                <li class="list-group-item d-inline-flex">
                    <div class="me-auto">Fuel type:</div>
                    <div><%= car.fuelType%></div>
                </li>
                <li class="list-group-item d-inline-flex">
                    <div class="me-auto">Mileage:</div>
                    <div><%= car.mileage%></div>
                </li>
            </ul>

        </div>
        <div class="col-2 column">
            <h2>Buttons:</h2>
            <div class="row mb-3">
                <div class="d-grid gap-3">
                    <a href="/part-window/<%= car._id %>/newPart" class="btn btn-primary"
                       role="button" >Add a new part</a>
                    <a class="btn btn-info" href="/car-window/<%= car._id %>/edit/" role="button" >Edit car data</a>
                    <a class="btn btn-danger hovertext" href="/delete/<%= car._id %>/" role="button" data-hover="It will delete your <%=car.manufacturer%>, for real." >Delete car</a>
                    <a class="btn btn-warning" href="/index" role="button">Back</a>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>