<%- include('header') -%>
<body>
<%- include('nav') -%>
<div class="container">
    <div class="row">
        <div class="col-6 column">
            <div class="row">
                <a>Your cars</a>
            </div>
            <div class="row">
                <ul class="list-group">
                    <% for (key in cars) { var car = cars[key]; %>
                    <% var month = car.date.getUTCMonth() + 1;
                        var year = car.date.getUTCFullYear();
                        var day = car.date.getUTCDate(); %>
                    <li><%= car.manufacturer %> <%= car.type %> <%= car.fuelType %> <%= year %>.<%= month %>.<%= day %>
                        <a class="btn btn-primary" href="/car-window/edit/<%= car._id %>/">edit</a>
                        <a class="btn btn-warning" href="/delete/<%= car._id %>/">delete</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 column">
            <div class="row mb-3">
                <a href="/newCar" class="btn btn-primary btn-lg w-75" tabindex="-1" role="button"
                   aria-disabled="true">Add a new car</a>
            </div>
            <div class="row">
                <a>Here you can add a new car!</a>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>
