<%- include('header') -%>
<body>
<%- include('nav') -%>
<div class="container">
    <div class="row">
        <div class="col-6 column">
            <div class="row">
                <%if(cars.length === 0){%><h2>There is no car to display.</h2><%} else{%> <h2>Your cars</h2><%}%>
            </div>
            <div class="row">
                <ul class="list-group">
                    <% for (key in cars) { var car = cars[key]; %>
                    <% var month = car.date.getUTCMonth() + 1;
                        var year = car.date.getUTCFullYear();
                        var day = car.date.getUTCDate(); %>
                    <a class="list-group-item list-group-item-action" href="/car-window/<%= car._id %>/">
                        <%= car.manufacturer %> <%= car.type %>, <%= car.fuelType %>, <%= year %>.<%= month %>.<%= day %>
                    </a>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 column">
            <div class="row mb-3">
                <a href="/newCar" class="btn btn-primary btn-lg w-75" tabindex="-1" role="button"
                   aria-disabled="true">Add a new car</a>
            </div>
            <div class="row">
                <a>Here you can add a new car!</a>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>
</body>
</html>
